<p>user-from works!</p>
<div>user firestore</div>
<div class="userlist border border-danger">

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">mail user</th>
        <th scope="col">name user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userfirestore$|async ">
        <th scope="row" >
          <a *ngIf="currentUser.name == user.name" style="color: red">#</a>
          <!-- <a  mat-mini-fab color="link"  > -->
          <!-- <mat-icon>edit</mat-icon> -->
        <!-- </a> -->
      </th>
        <td (click)=selackUset(user)>{{user.mail}}</td>
       <td (click)=selackUset(user)>{{user.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
    <!-- <app-edit [hidden]=""></app-edit> -->
</div>
