



.history{
background: rgb(230, 179, 179);
padding: 100px;

}

.h1{
   background:rgb(165, 214, 124);
   padding: 5%;
margin-top: 100%
    }

.list{
     background :rgb(190, 166, 118)
}

.user{
    background: rgb(77, 148, 118)
 }

.chat{
    background: rgb(189, 161, 106);
}