<p>chat works!</p>
<div>
    <h1>this my test </h1>
    <div>{{ userPost$| async |json}} </div>
    a:{{userPost$}}


    <ul *ngIf="userPost$| async as item">
         <img src="item.image" alt="">
        <li > id: {{item.id}}</li>
        <li > product: {{item.product}}</li>
        <li > productad: {{item.productad}}</li>
        <li > productmat: {{item.productmat}}</li>
       
      </ul>

 
        <!-- <div>product: {{post.product}}</div> -->
        <!-- <div> productad{{post.productad}}</div>
    <div>productmat: {{post.productmat}}</div>
    <img src="post.image" alt=""> -->

    <!-- </div> -->
</div>