<p>firestore works!</p>


<h1>firestore</h1>
<form [formGroup]="loginForm">
  <div>
    name: <input type="text" placeholder="your name" formControlName="name">
  </div>
  <div>
    mail: <input type="text" placeholder="your mail" formControlName="mail">
  </div>
  <div>
    password: <input type="password" placeholder="your password" formControlName="password">
  </div>
</form>
<button (click)="login()">login</button>
<hr>
<hr>
<input #nameInput>
<button (click)="addItem(nameInput.value)">add Name</button>

<ul>
  <li *ngFor="let item of items |async">
    {{ item.name }}
  </li>
</ul>

<!-- {{myItems|json }} -->
<!-- <div *ngFor="let item of myItems">
       {{ item }}
</div>  -->

<!-- <input [(ngModel)]="mymodul">
<button (click)="addItem(input.value)">ngModel</button> -->