.col-sm{
    border: 1px solid firebrick;
    height: 50px;
    border-style: dashed;
}

li{
    text-align: center;
    border: gold 2px solid;
    border-style: border;
}
.question{
    text-align: center;
    border:royalblue 5px solid;
    border-style: double;  
}

.col-sm{
text-align: center;

background: rgb(108, 124, 167)
}

.imges{
    height: 150px;
}