<p>home works!</p>

<button (click)=newQushin()>newQushin</button>
<!-- <div class="container" *ngFor="let q of arrayqushin ">
    <ul>
        <h1>this is : {{q.q}} : {{q.id_q}}</h1>
    </ul>

    <div>
        <div class="row">
            <div appColor class="col-sm" (click)=som(q.anser[points[0]].istrue)>
                One of three columns
                <a href=""> {{ q.anser[points[0]].a }} </a>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (click)=som(q.anser[points[1]].istrue)>
                One of three columns
                <a href=''> {{ q.anser[points[1]].a }} </a>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (click)=som(q.anser[points[2]].istrue)>
                One of three columns
                <a href=''> {{ q.anser[points[2]].a }} </a>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (click)=som(q.anser[points[3]].istrue)>
                One of three columns
                <a href=''> {{ q.anser[points[3]].a }} </a>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="question">
           
        <section class="alert alert-primary" role="alert">this is Question: {{items[count].quizNumber}}
               <br> <img src={{items[count].image}} alt="">
            <h1> {{items[count].question}} </h1>
        </section>
    </div>
    <br><br>
    <hr><br>
    <div>
        <div class="row">

            <div appColor class="col-sm" (dblclick)=som(items[count].option1)>
                <h2> {{ items[count].option1}}</h2>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (dblclick)=som(items[count].option2)>
                <h2> {{items[count].option2}}</h2>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (dblclick)=som(items[count].option3)>
                <h2> {{ items[count].option3 }} </h2>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (dblclick)=som(items[count].option3)>
                <h2> {{ items[count].option4 }}</h2>
            </div>
        </div>
    </div>
</div>
<!-- p-1 m-2 alert -->
<div class=" {{ clickAnswer == 'correct'? 'alert-success': 'alert-danger'}}">
    <!-- <div style="text-align: center"> -->
        <h1 > 
            {{clickAnswer}}
        </h1>
  
</div>

<router-outlet></router-outlet>