<p>home works!</p>


<button (click)=newQushin()>newQushin</button>
<div class="container" *ngFor="let q of arrayqushin ">
    <ul>
        <h1>this is : {{q.q}} : {{q.id_q}}</h1>
    </ul>

    <div>
        <div class="row">
            <div appColor class="col-sm" (click)=som(q.anser[points[0]].istrue)>
                One of three columns
                <a href=""> {{ q.anser[points[0]].a }} </a>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (click)=som(q.anser[points[1]].istrue)>
                One of three columns
                <a href=''> {{ q.anser[points[1]].a }} </a>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (click)=som(q.anser[points[2]].istrue)>
                One of three columns
                <a href=''> {{ q.anser[points[2]].a }} </a>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (click)=som(q.anser[points[3]].istrue)>
                One of three columns
                <a href=''> {{ q.anser[points[3]].a }} </a>
            </div>
        </div>
    </div>
</div>


<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="false">&times;</span>
    </button>
</div>
<!-- <app-from></app-from> -->
<div class="container">
    <div class="question">
        <section class="alert alert-primary" role="alert">this is Question: {{items[count].quizNumber}}
            <img src={{items[count].image}} alt="">
            <h1> {{items[count].question}} </h1>
        </section>
    </div>
    <br><br>
    <hr><br>
    <div>
        <div class="row">

            <div appColor class="col-sm" (dblclick)=som(items[count].option1)>
                <h1> {{ items[count].option1}}</h1>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (dblclick)=som(items[count].option2)>
                <h1> {{items[count].option2}}</h1>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (dblclick)=som(items[count].option3)>
                <h1> {{ items[count].option3 }} </h1>
            </div>&nbsp;&nbsp;&nbsp;
            <div appColor class="col-sm" (dblclick)=som(items[count].option3)>
                <h1> {{ items[count].option4 }}</h1>
            </div>
        </div>
    </div>
</div>
<section class="p-1 m-2 alert {{ clickAnswer == 'correct'? 'alert-success': 'alert-danger'}}">
    <div style="text-align: center">
        <h1> {{clickAnswer}}</h1>
    </div>
</section>


<!-- category: string;
  type: string;
  difficulty: string;
  question: string;
  correct_answer: string;
  incorrect_answers: string[]; -->

<div class="container">
    <div class="question">
        <section class="alert alert-primary" role="alert">

            <p>{{api[count].type}}</p>
            <p>{{api[count].difficulty}}</p>
            <p>{{api[count].question}}</p>
            <p>{{api[count].correct_answer}}</p>
        </section>
    </div>
    <br><br>
    <hr><br>

</div>