
<p>footer works!</p>
<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!--Grid row-->
    <div class="row  justify-content-space-between">
        <div>
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zH9_SqCCgCk" allowfullscreen></iframe>
    </div>
    <br><br>
    <div>
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NPRga4n-Tb8" allowfullscreen></iframe>
    </div>
      <!-- </div> -->
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Footer Elements -->  <div >
     
    </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> ChaimBaror.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Contact Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Get In Touch With Us</h3>
          <ul>
            <li> <a href="">Chaim Bar-Or</a></li>
            <li><a href=""> 052-7158077 </a></li>
            <li><a href=""> stodent </a></li>
            <li> <a href="">Jerusalem in the heart</a></li>
          </ul>
          <!-- <p class="text-white">Phone: +927 527158077</p>
          <p>
            <a class="navi-link-light" href="#">ch.baror@gmail.com</a>
          </p> -->
          <a class="social-button shape-circle sb-facebook sb-light-skin" href="#">
            <i class="socicon-facebook"></i>
          </a>
          <a class="social-button shape-circle sb-twitter sb-light-skin" href="#">
            <i class="socicon-twitter"></i>
          </a>
          <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
            <i class="socicon-instagram"></i>
          </a>
          <a class="social-button shape-circle sb-google-plus sb-light-skin" href="#">
            <i class="socicon-"></i>
          </a>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Mobile App Buttons-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Our Mobile App</h3>
          <a class="market-button apple-button mb-light-skin" href="#">
            <span class="mb-subtitle">Download on the</span>
            <span class="mb-title">App Store</span>
          </a>
          <a class="market-button google-button mb-light-skin" href="#">
            <span class="mb-subtitle">Download on the</span>
            <span class="mb-title">Google Play</span>
          </a>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- About Us-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">About Us</h3>
          <ul>
            <li>
              <a href="#">About the Shop</a>
            </li>
            <li>
              <a href="#">Our Story</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Account / Shipping Info-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">Account &amp; Shipping Info</h3>
          <ul>
            <li>
              <a href="#">Your Account</a>
            </li>
            <li>
              <a href="#">Shipping Rates & Policies</a>
            </li>
            <li>
              <a href="#">Refunds & Replacements</a>
            </li>
            <li>
              <a href="#">Taxes</a>
            </li>
            <li>
              <a href="#">Delivery Info</a>
            </li>
            <li>
              <a href="#">Affiliate Program</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <hr class="hr-light mt-2 margin-bottom-2x">
   
    <!-- Copyright-->
 
  </div>
</footer>
